<h1 mat-dialog-title>
  <strong>Introduction to JOpt-Tour-Optimizer Demo Application</strong>
</h1>

<mat-divider></mat-divider>
<p></p>

<!--   Goal -->
<div mat-dialog-content>
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-goal.png"
            alt="goal icon"
          />
          <h3>Goal of this application</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      This demo-application has the goal to familiarize you with
      JOpt-Tour-Optimizer. It shows a small part of the functional range.
      However, please visit our full Introduction on the JOpt optimization
      engine if you want to learn more about JOpt. Don't worry, for using this
      application it is not required.
      <p></p>
      <li>
        <a
          href="https://docs.dna-evolutions.com/introduction/introduction.html"
          target="_blank"
          matTooltip="Visit our Intruction to the JOpt optimization engine."
          >Full introduction</a
        >
      </li>
    </div>
  </mat-expansion-panel>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <!--   How to use this application -->
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-howto.png"
            alt="howto icon"
          />
          <h3>How to use this application</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      You can press <strong>Start Optimization</strong> right away...
    </div>
  </mat-expansion-panel>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <!--   Implementation  -->
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-impl.png"
            alt="implementation icon"
          />
          <h3>Implementation</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      The application itself is implemented as an dockerized Angular
      Application. In the back it mainly uses Java, Spring Boot, and Swagger to
      perform the actual optimization. The front-end application is available as
      an open source project on GitHub
      <img
        style="padding-right: 5px; padding-left: 2px; height: 20px"
        src="./assets/misc/icon/icon-github.png"
        alt="map icon"
      />.
      <p></p>
      <li>
        <a
          href="https://github.com/DNA-Evolutions/Java-TourOptimizer-Examples"
          target="_blank"
          matTooltip="JOpt-Tour-Optimizer Demo Application on GitHub."
          >JOpt-Tour-Optimizer Demo Application on GitHub</a
        >
      </li>
    </div>
  </mat-expansion-panel>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <!--  Further documetation and links -->
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-links.png"
            alt="howto icon"
          />
          <h3>Further Documentation and Links</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      <li>
        Further documentation -
        <a href="https://docs.dna-evolutions.com" target="_blank"
          >docs.dna-evolutions.com</a
        >
      </li>
      <li>
        Special features -
        <a
          href="https://docs.dna-evolutions.com/overview_docs/special_features/Special_Features.html"
          target="_blank"
          >Overview of special features</a
        >
      </li>
      <li>
        Our company website -
        <a href="https://www.dna-evolutions.com" target="_blank"
          >www.dna-evolutions.com</a
        >
      </li>
      <li>
        Our official repository -
        <a href="https://public.repo.dna-evolutions.com" target="_blank"
          >public.repo.dna-evolutions.com</a
        >
      </li>
      <li>
        Our official JavaDocs -
        <a href="https://public.javadoc.dna-evolutions.com" target="_blank"
          >public.javadoc.dna-evolutions.com</a
        >
      </li>
    </div>
  </mat-expansion-panel>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <!--  Contact -->
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-contact.png"
            alt="howto icon"
          />
          <h3>Contact</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      You like what you see? You want to get in contact with us? Please visit:
      <a href="https://dna-evolutions.com/contact/" target="_blank"> Contact</a>
    </div>
  </mat-expansion-panel>
  <p></p>
  <mat-divider></mat-divider>
  <p></p>

  <!--  Attribution -->
  <mat-expansion-panel
    class="xwide"
    [expanded]="false"
    matTooltip="Click me to enlarge."
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="intro-title">
          <img
            height="35px"
            src="./assets/misc/icon/icon-trophy.png"
            alt="howto icon"
          />
          <h3>Attritbution</h3>
        </div>
      </mat-panel-title>

      <mat-panel-description></mat-panel-description
    ></mat-expansion-panel-header>
    <div style="font-size: 16px">
      <p></p>
      Some icons and graphics that are used are orginating from
      <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"
        >www.flaticon.com</a
      >
    </div>
  </mat-expansion-panel>
  <p></p>

  <!--   Done -->
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="inline">
  <button
    mat-raised-button
    matTooltip="Close this dialog."
    (click)="onCloseClick()"
    color="primary"
    cdkFocusInitial
  >
    Close
  </button>
  <a href="https://www.dna-evolutions.com"
  target="_blank">
  <img
    class="right"
    height="50px"
    src="./assets/misc/icon/dna-evolutions-logo-xl-sw.png"
    alt="dna icon"
  /></a>
</div>
