<h1 mat-dialog-title>Properties of Node {{ curNode?.id }}</h1>
<mat-divider></mat-divider>

<form
  name="form"
  (ngSubmit)="f.form.valid && onSaveClick()"
  #f="ngForm"
  [validTimeWindow]="['']"
  novalidate
>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Basic">
        <p></p>
        <ul>
          <li>
            <mat-label
              matTooltip="When is a node open for service? Click on cards to modify."
              >Modify OpeningHours
            </mat-label>
          </li>
        </ul>
        <p></p>

        <mat-accordion>
          <div
            *ngFor="let openinghours of openingHoursCopy; let i = index"
            [attr.data-index]="i"
          >
            <mat-expansion-panel
              style="width: 95%; margin: 0 auto;"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Opening hour </mat-panel-title>
                <mat-panel-description> # {{ i + 1 }} </mat-panel-description>
              </mat-expansion-panel-header>

              <p></p>
              <h4>
                <mat-label matTooltip="Till when the node should be visited."
                  >OpeningHours start :
                </mat-label>
              </h4>

              <mat-form-field style="width: 100% !important" appearance="fill">
                <mat-label>OpeningHours start</mat-label>
                <input
                  matInput
                  name="twstart{{ i }}"
                  [ngxMatDatetimePicker]="pickerBegin"
                  placeholder="OpeningHours start"
                  [(ngModel)]="openinghours.timeWindow.begin"
                />
                <mat-datepicker-toggle matSuffix [for]="pickerBegin">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #pickerBegin
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [stepHour]="1"
                  [stepMinute]="15"
                  [stepSecond]="60"
                  [touchUi]="true"
                >
                </ngx-mat-datetime-picker>
              </mat-form-field>

              <p></p>
              <h4>
                <mat-label
                  matTooltip="Till when the work at the node should be done."
                >
                  OpeningHours end:
                </mat-label>
              </h4>

              <mat-form-field style="width: 100% !important" appearance="fill">
                <mat-label>OpeningHours end</mat-label>
                <input
                  matInput
                  name="twend{{ i }}"
                  [ngxMatDatetimePicker]="pickerEnd"
                  placeholder="OpeningHours end"
                  [(ngModel)]="openinghours.timeWindow.end"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="pickerEnd">
                </mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #pickerEnd
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [stepHour]="1"
                  [stepMinute]="15"
                  [stepSecond]="60"
                  [touchUi]="true"
                >
                </ngx-mat-datetime-picker>
              </mat-form-field>

              <p></p>
            </mat-expansion-panel>
            <p></p>
          </div>
        </mat-accordion>
        <mat-divider></mat-divider>

        <p></p>
        <ul>
          <li>
            <mat-label
              matTooltip="How long a Resource needs to stay at the node? Click on card to modify."
            >
              Modify Visit duration</mat-label
            >
          </li>
        </ul>
        <p></p>
        <mat-accordion>
          <mat-expansion-panel
            style="width: 95%; margin: 0 auto"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Visit duration </mat-panel-title>
              <mat-panel-description>
                {{ visitDurationMinutes }} [min]
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-form-field style="width: 100% !important">
                <h4>
                  <mat-label>Visit duration [min]</mat-label>
                </h4>
                <input
                  matInput
                  name="visitduration"
                  #visitDuration
                  min="1"
                  max="999"
                  pattern="\d*"
                  placeholder="30"
                  maxLength="3"
                  [(ngModel)]="visitDurationMinutes"
                  type="number"
                  oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value<=0) {this.value = 1;}"
                />
                <mat-hint align="end"
                  >{{ visitDuration.value.length }} / 3</mat-hint
                >
              </mat-form-field>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
        <p></p>
        <mat-divider></mat-divider>
        <div class="wide boxteaser">
          <p class="boxteasertitle">Nodes in JOpt</p>
          <p class="dontbreakout">
            <span>
              Get to know more features, including 
              <strong>time windows, </strong
              ><strong>pick-up and delivery, </strong
              ><strong>zone-codes, </strong> 
              <strong>hard-constraints, </strong> and more...
            </span>
            <span style="margin-top: 0px; vertical-align: auto">
              Visit
              <a
                href="https://docs.dna-evolutions.com/overview_docs/special_features/Special_Features.html"
                target="_blank"
                >Special features</a
              >
            </span>
            <span>
              <img
                style="
                  margin-top: 10px;
                  padding-left: 10px;
                  height: 40px;
                  vertical-align: middle;
                "
                src="./assets/misc/icon/click-icon.png"
                alt="click icon"
            /></span>
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Advandced">
        <p></p>
        <mat-accordion>
          <mat-expansion-panel
            style="width: 95%; margin: 0 auto"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Binding resources </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion>
              <div
                *ngFor="
                  let bingdingRes of constraintCopy?.bindingResources;
                  let i = index
                "
                [attr.data-index]="i"
              >
                <!-- hard constraint-->
                <mat-label>As hard constraint: </mat-label>

                <mat-checkbox
                  name="bhard{{ i }}"
                  [(ngModel)]="bingdingRes.hard"
                >
                  ({{ bingdingRes.hard }})
                </mat-checkbox>
                <p></p>
                <!-- hard constraint end-->

                <div
                  *ngFor="
                    let constraintResource of bingdingRes.resources;
                    let j = index
                  "
                  [attr.data-index]="j"
                >
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title> Binding resource </mat-panel-title>
                      <mat-panel-description>
                        {{ constraintResource.id }} ({{
                          constraintResource.priority
                        }})
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card>
                      <mat-form-field style="width: 100% !important">
                        <h4>
                          <mat-label>Resource Id</mat-label>
                        </h4>

                        <mat-form-field appearance="fill">
                          <mat-label>Ids</mat-label>
                          <mat-select
                            name="bidselect{{ i }}{{ j }}"
                            [(ngModel)]="constraintResource.id"
                          >
                            <mat-option value="--">not present</mat-option>
                            <mat-option
                              *ngFor="let id of resourceIds"
                              [value]="id"
                              >{{ id }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-form-field>

                      <mat-form-field style="width: 100% !important">
                        <h4>
                          <mat-label>Priority</mat-label>
                        </h4>
                        <input
                          matInput
                          name="bpriority{{ i }}{{ j }}"
                          #priority
                          min="1"
                          max="10"
                          pattern="\d*"
                          placeholder="30"
                          maxLength="2"
                          [(ngModel)]="constraintResource.priority"
                          type="number"
                          oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value<1) {this.value = 1;} if (this.value>10) {this.value = 10;}"
                        />
                        <mat-hint align="end"
                          >{{ priority.value.length }} / 2</mat-hint
                        >
                      </mat-form-field>
                    </mat-card>
                  </mat-expansion-panel>
                  <p></p>
                </div>
              </div>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        <p></p>

        <mat-divider></mat-divider>
        <p></p>
        <!-- Excluding-->
        <mat-accordion>
          <mat-expansion-panel
            style="width: 95%; margin: 0 auto"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Exclduing resources </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-accordion>
              <div
                *ngFor="
                  let exclduingRes of constraintCopy?.excludingResources;
                  let i = index
                "
                [attr.data-index]="i"
              >
                <!-- hard constraint-->
                <mat-label>As hard constraint: </mat-label>

                <mat-checkbox
                  name="exhard{{ i }}"
                  [(ngModel)]="exclduingRes.hard"
                >
                  ({{ exclduingRes.hard }})
                </mat-checkbox>
                <p></p>
                <!-- hard constraint end-->

                <div
                  *ngFor="
                    let constraintResource of exclduingRes.resources;
                    let j = index
                  "
                  [attr.data-index]="j"
                >
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title> Excluding resource </mat-panel-title>
                      <mat-panel-description>
                        {{ constraintResource.id }} ({{
                          constraintResource.priority
                        }})
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card>
                      <mat-form-field style="width: 100% !important">
                        <h4>
                          <mat-label>Resource Id</mat-label>
                        </h4>

                        <mat-form-field appearance="fill">
                          <mat-label>Ids</mat-label>
                          <mat-select
                            name="exidselect{{ i }}{{ j }}"
                            [(ngModel)]="constraintResource.id"
                          >
                            <mat-option value="--">not present</mat-option>
                            <mat-option
                              *ngFor="let id of resourceIds"
                              [value]="id"
                              >{{ id }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-form-field>

                      <mat-form-field style="width: 100% !important">
                        <h4>
                          <mat-label>Priority</mat-label>
                        </h4>
                        <input
                          matInput
                          name="expriority{{ i }}{{ j }}"
                          #priority
                          min="0"
                          max="10"
                          pattern="\d*"
                          placeholder="30"
                          maxLength="2"
                          [(ngModel)]="constraintResource.priority"
                          type="number"
                          oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value<0) {this.value = 0;} if (this.value>10) {this.value = 10;}"
                        />
                        <mat-hint align="end"
                          >{{ priority.value.length }} / 2</mat-hint
                        >
                      </mat-form-field>
                    </mat-card>
                  </mat-expansion-panel>
                  <p></p>
                </div>
              </div>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        <p></p>

        <mat-divider></mat-divider>
        <div class="boxinfo wide">
          <p class="boxinfotitle">Info</p>
          <p class="dontbreakout">
            <strong>Binding Resources</strong
            > are the preferred visitors of a node (sorted by priority value).
            In case the constraint is defined as hard,
            the optimizer will have to schedule one of the binding Resources. 
            An <strong>excluding Resource</strong> is the counter-concept.
          </p>
        </div>
      </mat-tab>

      <div *ngIf="hasResult; then hasAResult; else hasNoResult"></div>

      <ng-template #hasAResult>
        <mat-tab>
          <ng-template matTabLabel>
            <span
              matBadge="1"
              matBadgePosition="before"
              matBadgeColor="accent"
              matBadgeOverlap="false"
              >Last Result</span
            >
          </ng-template>
          <app-node-detail [nodeId]="curNode?.id"></app-node-detail>
        </mat-tab>
      </ng-template>

      <ng-template #hasNoResult>
        <mat-tab>
          <ng-template matTabLabel>
            <span
              matBadge="0"
              matBadgePosition="before"
              matBadgeColor="primary"
              matBadgeOverlap="false"
              >Last Result</span
            >
          </ng-template>
          <app-node-detail [nodeId]="curNode?.id"></app-node-detail>
        </mat-tab>
      </ng-template>
    </mat-tab-group>
  </div>
  <p></p>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="inline buttongroup">
    <button
      mat-raised-button
      matTooltip="Save all modifications and close this dialog."
      color="primary"
      [disabled]="!f.valid"
      cdkFocusInitial
    >
      Save
    </button>
    <button
      mat-raised-button
      type="button"
      matTooltip="Close this dialog and discard all modifications."
      color="warn"
      (click)="onNoClick()"
    >
      Cancel
    </button>

    <a
      href="https://docs.dna-evolutions.com/java_examples/tutorials/tutorial_beginner/basic_elements/basic_elements.html#nodes"
      target="_blank"
      matTooltip="Visit our documentation on Nodes."
      class="mat-raised-button infobutton"
      >Nodes</a
    >
  </div>
</form>
