<div *ngIf="curDetail;then existingDetail else nonExistingDetail"></div>

<ng-template #existingDetail>

	<h4>
		<mat-label>Arrival:</mat-label>
	</h4>
	<div>{{curDetail.arrivalTime}}</div>
	<h4>
		<mat-label>Departure:</mat-label>
	</h4>
	<div> {{curDetail.departureTime}}</div>
	<h4>
		<mat-label>Duration [seconds]:</mat-label>
	</h4>
	<div> {{curDetail.visitDuration}}</div>


</ng-template>

<ng-template #nonExistingDetail>
	<p></p>
	Please start an optimization first or make sure the node did not get unassigned..
	<p></p>
</ng-template>

