<h1 mat-dialog-title>Properties of node {{curNode?.id}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>

  <!--<mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>

  <mat-divider></mat-divider>-->

  <mat-tab-group>

    <mat-tab label="Basic">

      <p></p>
      <ul>
        <li>
          <mat-label matTooltip="When is a node open for service? Click on cards to modify.">Modify OpeningHours
          </mat-label>
        </li>
      </ul>
      <p></p>

      <mat-accordion>
        <div *ngFor="let openinghours of openingHoursCopy; let i = index" [attr.data-index]="i">

          <mat-expansion-panel hideToggle matTooltip="Click me to modify.">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Opening hour
              </mat-panel-title>
              <mat-panel-description>
                # {{i+1}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p></p>
            <h4>
              <mat-label matTooltip="Till when the node should be visited.">OpeningHours start : </mat-label>
            </h4>
            <mat-form-field style="width:100% !important" appearance="fill">

              <mat-label>OpeningHours start</mat-label>
              <input matInput [ngxMatDatetimePicker]="pickerBegin" placeholder="OpeningHours start"
                [(ngModel)]="openinghours.timeWindow.begin">
              <mat-datepicker-toggle matSuffix [for]="pickerBegin">
              </mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerBegin [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                [stepMinute]="15" [stepSecond]="60" [touchUi]="true">
              </ngx-mat-datetime-picker>
            </mat-form-field>
            <p></p>
            <h4>
              <mat-label matTooltip="Till when the work at the node should be done."> OpeningHours end : </mat-label>
            </h4>

            <mat-form-field style="width:100% !important" appearance="fill">
              <mat-label>OpeningHours end</mat-label>
              <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="OpeningHours end"
                [(ngModel)]="openinghours.timeWindow.end">
              <mat-datepicker-toggle matSuffix [for]="pickerEnd">
              </mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerEnd [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                [stepMinute]="15" [stepSecond]="60" [touchUi]="true">
              </ngx-mat-datetime-picker>
            </mat-form-field>
            <p></p>
          </mat-expansion-panel>
          <p></p>
        </div>

      </mat-accordion>
      <mat-divider></mat-divider>

      <p></p>
      <ul>
        <li>
          <mat-label matTooltip="How long a Resource needs to stay at the node? Click on card to modify.">Modify Visit
            duration</mat-label>
        </li>
      </ul>
      <p></p>
      <mat-accordion>
        <mat-expansion-panel hideToggle matTooltip="Click me to modify.">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Visit duration
            </mat-panel-title>
            <mat-panel-description>
              {{visitDurationMinutes}} [min]
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-form-field style="width:100% !important">
              <h4>
                <mat-label>Visit duration [min]</mat-label>
              </h4>
              <input matInput #visitDuration min="1" max="999" pattern="\d*" placeholder="30" maxLength="3"
                [(ngModel)]="visitDurationMinutes" type="number"
                oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value<=0) {this.value = 1;}">
              <mat-hint align="end">{{visitDuration.value.length}} / 3</mat-hint>
            </mat-form-field>

          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <p></p>
    </mat-tab>

    <mat-tab label="Advandced"></mat-tab>

    <div *ngIf="hasResult;then hasAResult else hasNoResult"></div>

    <ng-template #hasAResult>
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="1" matBadgePosition="before" matBadgeColor="accent" matBadgeOverlap="false">Last Result</span>
        </ng-template>
        <app-existing-node-detail [nodeId]="curNode?.id"></app-existing-node-detail>
      </mat-tab>
    </ng-template>

    <ng-template #hasNoResult>
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="0" matBadgePosition="before" matBadgeColor="primary" matBadgeOverlap="false">Last Result</span>
        </ng-template>
        <app-existing-node-detail [nodeId]="curNode?.id"></app-existing-node-detail>

      </mat-tab>
    </ng-template>


  </mat-tab-group>
  <!--<mat-label>Current OpeningHours</mat-label>
  <p></p>
  <div *ngFor="let openinghours of openingHoursCopy">


    <mat-form-field appearance="fill">
      <mat-label>OpeningHours start</mat-label>
      <input matInput [ngxMatDatetimePicker]="pickerBegin" placeholder="OpeningHours start"
        [(ngModel)]="openinghours.timeWindow.begin">
      <mat-datepicker-toggle matSuffix [for]="pickerBegin">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerBegin [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="15"
        [stepSecond]="60" [touchUi]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>OpeningHours start</mat-label>
      <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="OpeningHours start"
        [(ngModel)]="openinghours.timeWindow.end">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerEnd [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="15"
        [stepSecond]="60" [touchUi]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <p></p>

  </div>-->



</div>
<div mat-dialog-actions>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>-->
  <button mat-raised-button matTooltip="Save all modifications and close this dialog." color="primary"
    (click)="onSaveClick()" cdkFocusInitial>Save all modification and close</button>
  <button mat-raised-button matTooltip="Close this dialog and discard all modifications." color="warn"
    (click)="onNoClick()">Cancel and close</button>
</div>