.mat-list .mat-list-item {
  height: 30px;
  font-size: 14px;
}

.mat-list-node-item-cap {
  font-weight: bold;
  width: 6em;
  /* or whatever width you want. */
  max-width: 6em;
  /* or whatever width you want. */
  display: inline-block;
}

.mat-list-node-item-value {
  display: inline-block;
}


@media only screen and (max-width: 600px) {
  .mat-list-node-item-value {
    font-size: 0.8em;
    display:block;
  }

  .mat-list-node-item-cap {
    display:block;
    font-size: 0.8em;
  }
}
