.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 5px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-title{
  display: flex;
    align-items: left;
    justify-content: left;
}

.intro-title > h3{
  padding-left: 5px;
}
