div.propcontainer {
  
  display: block;
}

div.propsettings {
  padding-left: 10px;
  display: inline-block;

}

div.propkey {
  padding-left: 10px;
  display: inline-block;

}

div.propvalue {
  padding-left: 10px;
  display: inline-block;

}



@media only screen and (max-width: 600px) {
  div.propcontainer {
   display: block;
   padding-top: 5px;
   padding-bottom: 5px;
  }

  div.propsettings {
    display: none;
  }

  div.propkey {
    width: 100%;
  }


  div.propvalue {
    width: 100%;
  }
}


.pulsingButton {
  //width: 220px;
  //text-align: center;
  //white-space: nowrap;
  //display: block;
  //margin: 50px auto;
  //padding: 10px;
  box-shadow: 0 0 0 0 rgba(63, 81, 177, 0.7);
  //border-radius: 2px;
  //background-color: #FF0000;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  //font-size: 22px;
  //font-weight: normal;
  //font-family: sans-serif;
  text-decoration: none !important;
  //color: #ffffff;
  transition: all 500ms ease-in-out;
}
/* Animation */

@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
  }
}
