<h1 mat-dialog-title>Optimization Run Settings</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <!--<mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>

  <mat-divider></mat-divider>-->

  <p></p>
  <mat-accordion>
    <div *ngFor="let prop of settingsCopy?.properties">
      <mat-expansion-panel
        [disabled]="false"
        style="width: 95%; margin: 0 auto"
        matTooltip="Click me to modify."
      >
        <mat-expansion-panel-header>
          <mat-panel-title> <strong>Setting:&nbsp;</strong>{{ prop.key }} &nbsp;<strong>Value:	&nbsp;</strong>{{ prop.value }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="width: 60%;">
        <!-- <mat-label>Adjust value:</mat-label>-->
        <mat-slider
          style="width: 100%;"
          [disabled]="isDisabledSliderValue(prop.key)"
          [max]="getMaxPropertyValue(prop.key)"
          [min]="0"
          [step]="getStepPropertyValue(prop.key)"
          [(ngModel)]="prop.value"
          matTooltip="{{ prop.key }}  -  Move slider to adjust the current value of {{ prop.value }}."
        >
        </mat-slider>
      </div>
        <mat-divider></mat-divider>

        <div class="boxinfo wideleft">
          <p class="boxinfotitle">Info</p>
          <p>
            <span [innerHTML]="getStepPropertyInfo(prop.key)"></span>
          </p>
        </div>
        <p></p>

        <p></p>
      </mat-expansion-panel>
      <p></p>
    </div>
  </mat-accordion>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="inline">
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()" cdkFocusInitial>Save</button>-->
  <button
    mat-raised-button
    color="primary"
    (click)="onStartClick()"
    cdkFocusInitial
  >
    Start Optimization
  </button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>

  <a
  href="https://docs.dna-evolutions.com/overview_docs/optimizationproperties/Optimization_Properties.html"
  target="_blank"
  matTooltip="Visit our documentation on Optimization Properties."
  class="mat-raised-button infobutton right"
  >Explain these Properties</a
>
</div>
