table {
  width: 100%;
}

.mat-list .mat-list-item{
  height: 30px;
  font-size: 14px;
}


.mat-list-route-item-cap {
  font-weight: bold;
  width: 6em;
  /* or whatever width you want. */
  max-width: 6em;
  /* or whatever width you want. */
  display: inline-block;
}

.mat-list-route-item-value {
  display: inline-block;
}

div.frameborder {
  /*border-style: solid;
  border-color: blue;

  border-width: 2px 2px;*/
}

@media only screen and (max-width: 600px) {
  .mat-list-route-item-value{
    display: block;
    font-size: 0.8em;
  }

  .mat-list-route-item-cap {
    display: block;
    font-size: 0.8em;
  }

}
