<mat-toolbar style="position: relative;background: #c0ca48;
    color: #fff;">
    <span><img style="height:55px;" src="./assets/misc/icon/dna-evolutions-logo-white-retina-and-angular.png"
            alt="map icon"></span>
    <span style="padding-left:30px;">{{title}}</span>
</mat-toolbar>


<!--<mat-form-field appearance="fill">
    <mat-label>Select an element...</mat-label>
    <mat-select [(ngModel)]="curExampleId" (ngModelChange)="setExampelId($event)">

        <mat-option value="exampleOne">
            exampleOne
        </mat-option>
        <mat-option value="exampleTwo">
            exampleTwo
        </mat-option>

    </mat-select>
</mat-form-field>

<div *ngIf="curExampleId">
    <button mat-raised-button matTooltip="Open details of Node" (click)="loadExample(curExampleId)" color="primary"
        cdkFocusInitial>Open details of</button>
</div>-->

    <div>
        <app-example></app-example>
    </div>

<!--<div *ngIf="exampleIdChangesSubject | async as id">

    <div>
        <app-example [exampleId]="id"></app-example>
    </div>-->
<!--</div>-->

<!--<div *ngIf="exampleId; else default">
    <div>
        <app-example [exampleId]="exampleId"></app-example>
    </div>
</div>

<ng-template #default>
    <div>
        <app-example [exampleId]="exampleDefaultId"></app-example>
    </div>
</ng-template>-->

