div.panelcaption {
  // Nothing to do
}

div.paneltitle {
  padding-left: 10px;
  display: inline-block;
}

div.panelicon {
  display: inline-block;
}

// Fixes

/*.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  align-items: center;
  flex-basis: auto;
}

.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  align-items: center;
  flex-basis: auto;
}*/


//


div.toolbar {
  width: 100%;
  text-align: center;
  font-size: larger;
}

.leftitem {
  float: left;
  height: 55px;
  padding-top: 5px;
}

.centeritem {
  margin: 10px 0px 0 0;
  display: inline-block;
  text-align: center;
}

.rightitem {
  float: right;
  margin: 5px 25px 10px 0;
}

.mat-toolbar.colored {
  background: #c0ca48;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.55);
}

div.footer {
  width: 95%;
  margin: 0 auto;
  text-align: right;
  font-style: italic;
  color: gray;
}

div.footerleft {
  width: 95%;
  margin: 0 auto;
  text-align: right;
}

div.exampledesc {
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 5px;
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
}


@media only screen and (max-width: 300px) {
  .disappearablesmall {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.paneltitle {
    display: block;
  }

  div.footer {
    font-size: 0.8em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }

  .centeritem {
    padding-top: 5px;
  }

  .rightitem {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

