.map-container {
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //margin: 30px;
}

.map-frame {
  //border: 2px solid black;
  //height: 50vh;
  width: 100vh;
}

#map {
  height: 45vh;
  width: 100%;
}

.mouse-coords {
  //color: gray;
  //font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  //position: fixed;
  margin-top: 5px;
  margin-left: 0px;
  z-index: 1000;
  //background-color: rgba(255, 255, 255, 0.7);
}

