

  <h1>Progress TEST</h1>

   <!--<p>latest: {{ latestProgressValue }} </p>

   <div>Progress: {{ (latestProgressValue) }}</div>-->

   <div>CallerId: {{ (latestProgress?.callerId) }}</div>
   <div>Progress: {{ (latestProgress?.curProgress) }}</div>

<!--<div *ngFor="let progress of progress$ | async">
  <p>Title: {{progress.desc}}</p>
</div>

<div>Progress: {{ (progress$ | async)?.desc }}</div>

	<div>Progress: {{ (progress$ | async) }}</div>-->
	
	
	  <!-- <div><code>observable|async</code>:
	   Time: {{ time$ | async }}</div>
	   
	  

	   

	   <div><code>observable|async</code>:
	   Time: {{ observable$ | async }}</div>-->